<!DOCTYPE html>
<html lang="eg">

<head>
  <title>
    <%- title%>
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
</head>

<body>
  <%- body %>
    <script src="/app.js"></script>
</body>

</html>